@using System.Net.Http
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/circularprogress.css">

<div class="container">
    <div class="row p-5">
        <div class="col-md-9">
            <h2>Current incidents</h2>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Index", "Ticket")">
                <button class="btn btn-primary">Show List</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("Index", "Ticket")">
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("Index", "Ticket")">
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">75%</div>
                </div>
            </a>
        </div>
    </div>
</div>