@model UserViewModel

@using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
{
    @Html.EditorForModel()
    @* TODO Create dropdown for user selection *@
    <br />
    <button type="submit">Create user</button>
}
