@model TicketViewModel

@using (Html.BeginForm("CreateTicket", "Ticket", FormMethod.Post))
{
    @Html.EditorForModel()
    @* TODO Create dropdown for user selection *@
    <br /><button type="submit">Create ticket</button>
}