@model ForgotPasswordViewModel
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
    @Html.EditorForModel()
    @*TODO Create dropdown for user selection *@
    <input id="Email" type="text" />
    <br />
    <button type="submit">Reset Password</button>
}

