@model ResetPasswordViewModel
@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    @Html.EditorForModel()
    @*TODO Create dropdown for user selection *@
    <input id="ReturnToken" type="text" />
    <br />
    <input id="Password" type="password" />
    <br />
    <button type="submit">Reset Password</button>
    }

